/* Base Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin: 35px 15px;
}

h2, h3 {
  text-align: center;
}

p, h3 {
  margin: 1em 0.25em;
}

img {
  display: block;
  margin: 0;
  border-radius: 6px;  
  width: 100%;
}

/* Flexbox */
.container {
    display: flex;
    height: 300px;
}

/* Sidebar Navigation Menu*/

ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: .5s; /* 0.5 second transition effect to slide in the sidebar */
  }

  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
    cursor: pointer;
  }
  
  

  /* .sidebar .homebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-left: auto;
  } */
  
  /* The button used to open the sidebar */
  .openbtn {
    position: absolute;
    top: 0;
    right: 0px;
    /* margin-left: auto; */

    font-size: 3rem;
    cursor: pointer;
    background-color: #111;
    color: whitesmoke;
    /* padding: .5em .75em; */
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  

  /* Media Queries */

  /* Large Screens */
  @media (min-width: 768px) {
    header {
      background-color: #111;
      color: whitesmoke;
      text-align: center;
      padding: 5px 10px;
    }

    main {
      margin: auto;
      max-width: 900px;
    }
    
    #hamburger {
      display: none;
    }

    a.closebtn {
      display: none;
    }

    li {
      display: flex;
    }

    nav {
      background-color: #111;
      color: whitesmoke;
    }

    .menu {
      display: flex;
      justify-content: center;
      background-color: #111;
    }

    .bio:img {
      width: 45%;
      height: auto;
    }
  }

  @media (max-width: 767px) {
    header {
      justify-content: left;
      padding: 10px;
      background: #111;
      color: whitesmoke;
      height: 84px;
    }
  }

  @media (min-width: 769px) and (max-width: 1023px) {
    main {
      width: 90%;
    }
  }

/* GRID */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-container img {
  width: 80%;
  height: auto;
  margin: auto;
}


/* CONTACT FORM */

form {
  max-width: 320px;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #f4f7f8;
  border-radius: 8px;
}

input[type="text"],
input[type="email"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1 px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  resize: vertical;
}

input[type="checkbox"] {
  margin: 0 3px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

form button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #0059ff;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #0059ff;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px; 
} */

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #0059ff;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
} 


/* input[type=text], select, textarea {
  width: 50%;

  padding: 12px;
  border: 1px solid #444;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}