/* ======================================
Base Styles 
========================================*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  justify-content: left;
  padding: 27px 5px 15px 10px;
  background: #111;
  color: whitesmoke;
  height: 84px;
}

header h1 {
  text-transform: uppercase;
}

main {
  padding-top: .5em;
  margin: 35px 15px;
  font-size: 1.125em;
  line-height: 2rem;
}

h1 {
  font-size: 1.8em;
}

h2, h3 {
  text-align: center;
}

p, h3 {
  margin: 1em 0.25em;
}

img {
  display: block;
  margin: auto;
  border-radius: 6px;  
  width: 98%;
}

a {
  cursor: pointer
}

li {
  font-size: 1.5em;
}

.button1 {
  display: inline-block;
  padding: 2px 6px;
  text-decoration: none;
  border-radius: 8px;
  box-sizing: border-box;
  color: whitesmoke;
  background-color: rgb(68, 129, 241);
  transition: 250ms;
}

a.button1:hover {
  background-color: rgb(33, 97, 218); ;
}

/* These <div> pages are hidden on start but will appear after navigation buttons are clicked. */
#bio,
#teaching,
#media,
#contact {
  display: none;
}

/* =================================
Sidebar Navigation Menu
================================= */

ul {
  list-style-type: none;
  display: block;
  padding: 0;
}

@media (max-width: 767px) {
  
  .sidebar {
    height: 100%;
    width: 0; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111111; 
    overflow-x: hidden; 
    padding-top: 84px; 
    transition: .5s;
  }

  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 4em;
    margin-left: 50px;
  }
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #f5f5f5;
    display: block;
    transition: 0.3s;
  }
  
/* When you mouse over the navigation links, changes their color */
.sidebar a:hover {
  color: #ffffff;
  background-color: rgb(46, 46, 46);
}
  
 
/* The button used to open the sidebar */
.openbtn {
  position: absolute;
  top: 0;
  right: 0px;

  font-size: 3rem;
  cursor: pointer;
  background-color: #111;
  color: whitesmoke;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* ============================================
CONTACT FORM
=============================================== */

form {
  background-color: rgb(218, 218, 218);
  padding: 1em;
  margin: auto;
  /* border: black 3px; */
  border-radius: 6px;
  width: 100%;
  max-width: 600px;  
}

/* ============================================
LOGO
=============================================== */

/* name */
span{
	margin: 0 15px;
	line-height: .7;
	text-shadow: 0 0 2px rgba(0, 0, 0, .45);
	animation: span 3s ease-in infinite alternate;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: flex-start;
  width: 100%;
	height: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-size: 42px;

}

.letter{
	display: inline-flex;
	height: 30px;
	width: 27px;
	border: 3.35px solid black;
	border-radius: 14px;
	box-shadow:
		0 0 2px rgba(0, 0, 0, .75),
		inset 0 0 2px rgba(0, 0, 0, .45);

	animation: letter 3.25s ease-in-out infinite alternate;
}

@keyframes span {
	0%,30%{ margin: 0 15px; }
	70%,100%{ margin: 0 5px; }
}
@keyframes letter {
    /* starting width */
	0%,30%{ width: 27px; } 
	70%,100%{ width: 25%; }
}

/* Concentric Circles */
div#concentric {
 width: 125px;
 height: 125px;
 border: 5px solid blue;
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
 animation: concentric 6s infinite forwards;
}

@keyframes concentric {
  0% { border-color: rgb(177, 83, 231); transform: scale(0.8); }
  25% { border-color: rgb(46, 43, 214); transform: scale(1); }
  50% { border-color: rgb(58, 15, 128); transform: scale(1.1); }
  75% { border-color: aqua; transform: scale(1); }
  100% { border-color: rgb(14, 4, 107); transform: scale(0.8); }
}

div#circle {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 7px solid blueviolet;
  animation: circle 5s infinite ease-in-out alternate-reverse;
}

@keyframes circle {
  0% { transform: rotate(0deg); }
  25% { border-color: aqua; border-width: 10px; }
  50% { border-color: rgb(30, 84, 155); border-width: 15px; }
  75% { border-color: rgb(33, 124, 209); border-width: 25px; }
  100% { transform: rotate(360deg); border-width: 10px; }
}


/* ============================================
VIDEO PLAYER
=============================================== */

/* #video-player {
  width: 50%;
}

#player-controls {
  top: 98%;
  background-color: #818181;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

input[type="image"] {
  float: left;
  height: 20px;
  margin-left: 2px;
  margin-right: 5px;
  margin-top: 2px;
}

#volume-img {
  margin-left: 150px;
  width: 20px
}

#wrapper
{
 text-align:center;
 margin:0 auto;
 padding:0px;
 width:75%;

} */


/* ======================================================
Media Queries 
========================================================*/

/* Large Screens */
@media (min-width: 768px) {
  header {
    background-color: #111;
    color: whitesmoke;
    text-align: center;
    height: auto;
    padding: 15px;
  }

  main {
    margin: auto;
    max-width: 900px;
  }

  .sidebar a {
    font-size: 1.5rem;
    padding: 8px 18px 8px 18px;
  }

  img {
    width: 85%;
  }

  #decoding-bach-1 {
    width: 55%;
  }

  #hamburger {
    display: none;
  }

  a.closebtn {
    display: none;
  }

  nav {
    background-color: #111;
    color: whitesmoke;
  }

  .menu {
    display: flex;
    justify-content: center;
    background-color: #111;
  }

  .bio:img {
    width: 45%;
    height: auto;
  }
}

/* Intermediate Screens */
@media (min-width: 540px) and (max-width: 767px) {
  main {
    margin-top: 1rem;
    width: 90%;
  }

  img {
    width: 95%;
  }

  #decoding-bach-1 {
    width: 85%;
  }
}

