/* Base Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer
}

header {
  text-transform: uppercase;
}

main {
  padding-top: 1em;
  margin: 35px 15px;
  font-size: 1.25rem;
  line-height: 2rem;
}

h2, h3 {
  text-align: center;
}

p, h3 {
  margin: 1em 0.25em;
}

img {
  display: block;
  margin: auto;
  border-radius: 6px;  
  width: 98%;
}

/* Sidebar Navigation Menu*/

ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  main {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 2rem;
  }

  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: .5s; /* 0.5 second transition effect to slide in the sidebar */
  }

  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
    cursor: pointer;
  }
  
 
  /* The button used to open the sidebar */
  .openbtn {
    position: absolute;
    top: 0;
    right: 0px;
    /* margin-left: auto; */

    font-size: 3rem;
    cursor: pointer;
    background-color: #111;
    color: whitesmoke;
    /* padding: .5em .75em; */
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

/* VIDEO PLAYER */

/* #video-player {
  width: 50%;
}

#player-controls {
  top: 98%;
  background-color: #818181;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

input[type="image"] {
  float: left;
  height: 20px;
  margin-left: 2px;
  margin-right: 5px;
  margin-top: 2px;
}

#volume-img {
  margin-left: 150px;
  width: 20px
}  */

/* #wrapper
{
 text-align:center;
 margin:0 auto;
 padding:0px;
 width:995px;
}
#player_wrapper
{
 position:relative;
 width:400px;
 margin-left:300px;
}
#video_player
{
 width:100%;
}
#player_controls
{
 top:98%;
 position:absolute;
 background-color:black;
 width:100%;
 padding:5px;
 box-sizing:border-box;
}
input[type="image"]
{
 float:left;
 height:20px;
 margin-left:2px;
 margin-right:5px;
 margin-top:2px;
}
#vol_img
{
 margin-left:150px;
 width:20px;
}



/* Media Queries */

/* Large Screens */
@media (min-width: 768px) {
  header {
    background-color: #111;
    color: whitesmoke;
    text-align: center;
    padding: 5px 10px;
  }

  main {
    margin: auto;
    max-width: 900px;
  }
  
  img {
    width: 85%;
  }

  #decoding-bach-1 {
    width: 55%;
  }

  #hamburger {
    display: none;
  }

  a.closebtn {
    display: none;
  }

  li {
    display: flex;
  }

  nav {
    background-color: #111;
    color: whitesmoke;
  }

  .menu {
    display: flex;
    justify-content: center;
    background-color: #111;
  }

  .bio:img {
    width: 45%;
    height: auto;
  }

}

@media (max-width: 767px) {
  header {
    justify-content: left;
    padding: 10px;
    background: #111;
    color: whitesmoke;
    height: 84px;
  }
}

/* Intermediate Screens */
@media (min-width: 768px) and (max-width: 1023px) {
  main {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 2.2rem;
    width: 90%;
  }

  img {
    width: 95%;
  }
}